#titulo {
    font: oblique bold 120% cursive;
    color: crimson;
    font-family:Helvetica,Futura,Arial,Verdana,sans-serif;
    text-align: center;
    top:400px;
    font-size: 200px;
    
}
#titulo1 {
    font: oblique bold 120% cursive;
    color: #b10f01;
    font-family:Helvetica,Futura,Arial,Verdana,sans-serif;
    text-align: center;
    top:400px;
    font-size: 200px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#botonregistro {
    color: #b01001;
    position:absolute;
    top:470px;
    left:700px;
    font-size: 50px;
    border-radius: 47px;
    -moz-border-radius: 47px;
    -webkit-border-radius: 47px; 
    background-color: #b10f01;
    color:black;
    
}
#botonlog {
    color: #b01001;
    position:absolute;
    top:400px;
    left:750px;
    font-size: 50px;
    border-radius: 47px;
    -moz-border-radius: 47px;
    -webkit-border-radius: 47px; 
    background-color: #b10f01;
    color:black;
    
}
#botonagregar {
    color: #b01001;
    position:absolute;
    top:650px;
    left:600px;
    font-size: 50px;
    border-radius: 47px;
    -moz-border-radius: 47px;
    -webkit-border-radius: 47px; 
    background-color: #b10f01;
    color:black;
    
}
#botondevolverse {
    color: #b01001;
    position:absolute;
    top:750px;
    left:600px;
    font-size: 25px;
    border-radius: 21px;
    -moz-border-radius: 21px;
    -webkit-border-radius: 21px; 
    background-color: #b10f01;
    color:black;  
}

#tablaregistrarse{
   
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    position:absolute;
    top:400px;
    left:540px;
    font-size: 30px;
}