#titulo {
    font: oblique bold 120% cursive;
    color: crimson;
    font-family:Helvetica,Futura,Arial,Verdana,sans-serif;
    text-align: center;
    top:400px;
    font-size: 200px;
    
}
#titulo1 {
    font: oblique bold 120% cursive;
    color: #b10f01;
    font-family:Helvetica,Futura,Arial,Verdana,sans-serif;
    text-align: center;
    top:400px;
    font-size: 200px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}
.selected {
    background-color: yellow;
}

#contenido {
    border: 4px solid black;
    border-collapse: collapse;
    width: 40%;
    text-align: center;
    position: absolute;
    top: 39%;
    left: 19%;

}

th, td {
    text-align: left;
    padding: 8px;
}
th {
   background-color: #b01001;
    color: white;
}
tr:nth-child(even){background-color: #f2f2f2}
tr:nth-child(odd){background-color: #989898}
#botonregistro {
    color: #b01001;
    position:absolute;
    top:470px;
    left:700px;
    font-size: 50px;
    border-radius: 47px;
    background-color: #b10f01;
    color:black;
    
}
#botonlog {
    color: #b01001;
    position:absolute;
    top:400px;
    left:750px;
    font-size: 50px;
    border-radius: 47px;
    background-color: #b10f01;
    color:black;
    
}
#botonagregar {
    color: #b01001;
    position:absolute;
    top:91%;
    left:32%;
    font-size: 50px;
    border-radius: 47px;
    background-color: #b10f01;
    color:black;
    
}
#botondevolverse {
    color: #b01001;
    position:absolute;
    top:111%;
    left:38%;
    font-size: 25px;
    border-radius: 21px;
    background-color: #b10f01;
    color:black;  
}

#tablaregistrarse{
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    position:absolute;
    top:37%;
    left:28%;
    font-size: 30px;
}
#tablasalas tr:hover {
    background-color: #ffff99;
}
#tablasalas tr.selected {
    background-color: #008000;
}
#Titulo {
    font-size: 58px;
    position: absolute;
    top: 16%;
    left: 27%;
    color: aqua;
    background-color: black;
}
#refresh{
    position: absolute;
    top: 30%;
    left: 20%;
    font-size: 25Px;
    border-radius: 47px;
    background-color: #b10f01;
    color: black;
}
#elegir{
    position: absolute;
    top: 30%;
    left: 34%;
    font-size: 25Px;
    border-radius: 47px;
    background-color: #b10f01;
    color: black;
}
#creacion{
    position: absolute;
    top: 30%;
    left: 49%;
    font-size: 25Px;
    border-radius: 47px;
    background-color: #b10f01;
    color: black;
}